<section *ngFor="let p of productList" class="preview-section">
    <div class="product">
        <img class="preview" [src]="p.imageUrls[0]" [alt]="p.description" />
        <div>{{p.description}}</div>
        <hr>
        <div>
            <label [for]="'chkHasTestimonials'+p.productId">Has Testimonials</label> <input type="checkbox" [id]="'chkHasTestimonials'+p.productId" [checked]="p.metadata['hasTestimonials']==='true'">
        </div>
        <div>
            <label [for]="'chkhasVirtualTour'+p.productId">Has Virtual Tour</label> <input type="checkbox" [id]="'chkhasVirtualTour'+p.productId" [checked]="p.metadata['hasVirtualTour']==='true'">
        </div>
        <hr>
        <div class="description">
            <h3>{{p.productName}}</h3>
            <h5>${{p.pricePerUnit}} / {{p.unitDescr}}</h5>
        </div>
    </div>
    <div><button type="submit" (click)="onSubmit(p.priceId, p.type)">checkout</button>
    </div>
</section>
<hr>